/* Open Sans from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Avenir LT Com stored locally */
@font-face {
  font-family: 'Avenir LT Com';
  src: url('fonts/AvenirLTCom-Black.ttf') format('truetype'),
       url('fonts/AvenirLTCom-BlackOblique.ttf') format('truetype'),
       url('fonts/AvenirLTCom-Book.ttf') format('truetype'),
       url('fonts/AvenirLTCom-BookOblique.ttf')  format('truetype'), 
       url('fonts/AvenirLTCom-Heavy.ttf') format('truetype'),
       url('fonts/AvenirLTCom-HeavyOblique.ttf') format('truetype'),
       url('fonts/AvenirLTCom-Light.ttf') format('truetype'),
       url('fonts/AvenirLTCom-LightOblique.ttf') format('truetype'),
       url('fonts/AvenirLTCom-Medium.ttf') format('truetype'),
       url('fonts/AvenirLTCom-MediumOblique.ttf')  format('truetype'),
       url('fonts/AvenirLTCom-Oblique.ttf') format('truetype'),
       url('fonts/AvenirLTCom-Roman.ttf')  format('truetype');
}

* {
	margin:0; padding:0; box-sizing:border-box;
}

body {
	padding: 10px 50px 0 50px; 
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #323232;
}

#hero {
	background: url("http://www.equilar.com/images/blog/372/blog-3.20-board-skills-by-age-group-800x400.jpg");
	background-size: cover;
	height: 80vh;
	padding: 10em;
}

section {
	padding: 3em;
}

#copyright {
	background-color: black;
	color: white;
	padding: 1.5em;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: #0e82c6;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-family: 'Avenir LT Com', sans-serif;
	color: #052e47;
}

h3 {
	font-family: 'Avenir LT Com', sans-serif;
	color: #ffffff;
	padding: 1em;
}

.button {
	color: white;
	background-color: #369;
	border: none;
	font-size: 16px;
	padding: 1em 2em;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	margin: 1em;
}

#promo-left {
	background: url("http://www.equilar.com/images/BOX1 v2.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding: 5em;
	float: left;
	width: 50%;
}

#promo-left:hover {
  background: url('http://www.equilar.com/images/BOX1 v2-hover.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#promo-right {
	background: url("http://www.equilar.com/images/BOX2 v2.png");
	background-size: contain;
	background-repeat: no-repeat;
	padding: 5em;
	float: left;
	width: 50%;
}

#promo-right:hover {
  background: url('http://www.equilar.com/images/BOX2 v2-hover.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.prod-img-name {
	width: 8em;
}

.prod-example-image {
	width: 500px;
	float: right;
	border: 1px solid grey;
}

h1 span {
	display:block;
	font-size: 2em;
}

footer {
	background-color: #369;
	text-align: center;
}

footer a {
	color: #b2d9f0;
	padding: 1em;
}

footer p {
	color: white;
	display: block;
}

footer img {
	width: 2em;
	height: 2em;
	margin: 0.2em;
}

section div{
	float: left;
	display: block;
	width: 50%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

section {
	border-bottom: solid  1px;
}

aside div{
	margin-left: auto;
    margin-right: auto;
    width: 20%
}

#footer-float {
	float: left;
	width: 33%;
}