/* Open Sans from Google Fonts */
@import url(https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans);

/* Avenir LT Com stored locally */
@font-face {
  font-family: 'Avenir LT Com';
  src: url('fonts/AvenirLTCom-Black') format('truetype'),
       url('fonts/AvenirLTCom-BlackOblique') format('truetype'),
       url('fonts/AvenirLTCom-Book') format('truetype'),
       url('fonts/AvenirLTCom-BookOblique')  format('truetype'), 
       url('fonts/AvenirLTCom-Heavy') format('truetype'),
       url('fonts/AvenirLTCom-HeavyOblique') format('truetype'),
       url('fonts/AvenirLTCom-Light') format('truetype'),
       url('fonts/AvenirLTCom-LightOblique') format('truetype'),
       url('fonts/AvenirLTCom-Medium') format('truetype'),
       url('fonts/AvenirLTCom-MediumOblique')  format('truetype'),
       url('fonts/AvenirLTCom-Oblique') format('truetype'),
       url('fonts/AvenirLTCom-Roman')  format('truetype');
}

* {
	margin:0; padding:0; box-sizing:border-box;
}

body {
	padding: 10px 50px 0 50px; 
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #323232;
}

#hero {
	background: url("http://www.equilar.com/images/blog/372/blog-3.20-board-skills-by-age-group-800x400.jpg");
	background-size: cover;
	height: 80vh;
	padding: 10em;
}

section {
	padding: 3em;
}

#copyright {
	background-color: black;
	color: white;
	padding: 1.5em;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: #0e82c6;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-family: 'Avenir LT Com', sans-serif;
	color: #052e47;
}

h3 {
	font-family: 'Avenir LT Com', sans-serif;
	color: #ffffff;
	padding: 1em;
}

.button {
	color: white;
	background-color: #369;
	border: none;
	font-size: 16px;
	padding: 1em 2em;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	margin: 1em;
}

#promo-left {
	background: url("http://www.equilar.com/images/BOX1 v2.png");
	background-size: cover;
	padding: 10em;
}

#promo-right {
	background: url("http://www.equilar.com/images/BOX2 v2.png");
	background-size: cover;
	padding: 10em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.prod-img-name {
	width: 8em;
}

.prod-example-image {
	width: 500px;
}

h1 span {
	display:block;
	font-size: 2em;
}

footer {
	background-color: #369;
	text-align: center;
}

footer a {
	color: #b2d9f0;
	padding: 1em;
}

footer p {
	color: white;
}

footer img {
	width: 2em;
	height: 2em;
}
