* { margin:0; padding:0; box-sizing:border-box;}
body {
	color:#222;
	font-family: 'Open Sans',sans-serif;
}
ul { padding-left:1.25em;}
section {
	padding:5em 0;
}
h1 {
	font-family: times, serif;
	font-size:3em;
	color:#fff;
}
h1 span {
	display:block;
	font-size: 2em;
}
#main {
	background: url("http://www.equilar.com/images/blog/372/blog-3.20-board-skills-by-age-group-800x400.jpg");
	background-size: cover;
	height: 80vh;
}

#copyright {
	background-color: #222;
	color: white;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: #0e82c6;
}

footer {
	background-color: #369;
	color: white;
	text-align: center;
}

.button {
	color: white;
	background-color: #0e82c6;
	border: none;
	font-size: 14px;
	padding: 1em 2em;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	display: inline-block;
}

.promo {
	text-align: center;
	max-width: 500px;
}
